@import "../node_modules/bootstrap/scss/bootstrap-reboot.scss";
@import "../node_modules/bootstrap/scss/grid";

//MOBILE

html
{
    scroll-behavior: smooth;
}

body{
    background-color: whitesmoke;
    overflow-x: hidden;
}
header
{
    width: 100%;
    height: 15vh;
    background-color : #525659;
    display: flex;
    align-items: center;
}

nav
{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.fas
{
    height: 2.4rem;
    width: 2.4rem;
}

.name
{
    background-image: url(../img/Florent.jpg);
    font-family: 'Bad Script', cursive;
    font-size: 3rem;
    height: 9em;
    width: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.resume-about
{
    width: 100%;
    height: auto;
    background-color: #525659;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
}

h2
{
    color: white;
    text-align: center;
    padding-bottom: 15px;
}

.resume-school>h2, .resume-work>h2, .resume-hobbies>h2, .resume-projects>h2, .resume-skills>h2
{
    color: #2c3e50;
}

.resume-school, .resume-hobbies, .resume-work, .resume-about>p
{
    padding-top: 15px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: justify;
}

.resume-years
{
    font-weight: bold;
}

.resume-school, .resume-work, .resume-skills, .resume-projects, .resume-hobbies
{
    color: #555;
}

.resume-school, .resume-work, .resume-skills, .resume-projects, .resume-hobbies, .resume-about, .resume-about
{
    padding-bottom: 10px;
}

.logo-skills-all
{
    width: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.logo-skills
{
    height: 2.5rem;
    width: 2.5rem;
    margin-right: 15px;
    margin-top: 15px;
}

.resume-projects
{
    width: auto;
    text-align: center;
    padding-bottom: 50px;
}

.resume-project__num1
{
    height: 150px;
    width: 201px;
    border: thick double #525659;
    box-shadow: 10px 5px 5px gray;
}

.resume-project__num2
{
    height: 120px;
    width: 230px;
    border: thick double #525659;
    box-shadow: 10px 5px 5px gray;
}

.resume-project-text {
    padding-top: 20px;
}

.resume-contact
{
    background-color:#525659;
    color: white;
    padding-top: 15px;
}

.resume-contact>a
{
    padding-left: 7px;
}

.resume-contact>p
{
    margin-left: 0.5em;
}

.resume-contact__linkedin, .resume-contact__facebook, .resume-contact__github
{
    height: 1.5rem;
    width: 1.5rem;
    margin-left: 0.5em;
}

.mobile_tab>p
{
    margin-top: 1.5rem !important;
}

.mobile_tab>a
{
    margin-top: 1.5rem !important;
}

.copyright
{
    font-size: 11px;
    height: 100%;
    padding-top: 20px;
    text-align: center;
}

.copyright>p
{
    margin: 0;
}

.name {
    animation-duration: 3s;
    animation-name: slidein;
  }
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 100%; 
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

.logo-skills
{
    &:hover {
        transform: scale(1.3);
    }
}

.resume-project__num1, .resume-project__num2 
{
    &:hover {
        transform: scale(1.05);
    }
}

.resume-contact__facebook, .resume-contact__github, .resume-contact__linkedin
{
    &:hover {
        transform: scale(1.2);
    }
}

.mobile_tab
{
    padding-left: 15px;
}

.background-container
{
    background-image: url(../img/background.jpg);
    background-size: 1908px;
}

.desktop 
{
    display: none;
}

a:hover {
    color:white;
    font-weight: bold;
}

//TAB

@media screen and (min-width: 580px)

{
body
{
    font-size: 19px;
}
header
{
    height: 12vh;
}

.fas
{
    height: 3rem;
    width: 3rem;
}

.name
{
    background-image: url(../img/Florent_tab.jpg);
    height: 15em;
    padding-top: 240px;
    p{
        font-size: 5rem;
    }
}

.resume-work>h2
{
padding-bottom: 15px;
}

.logo-skills
{
    height: 5.5rem;
    width: 5.5rem;
}

.resume-project__num1
{
    height: 70vh;
    width: 90vh;
}

.resume-project__num2
{
    height: 55vh;
    width: 99vh;
}

.resume-contact__linkedin, .resume-contact__facebook, .resume-contact__github
{
    height: 2.2rem;
    width: 2.2rem;
}

.background-container
{
    background-image: url(../img/background.jpg);
    background-size: 1908px;
}

.desktop 
{
    display: none;
}
}

//DESKTOP

@media screen and (min-width: 820px) {

.name
{
    background-image: url(../img/circuit_desktop_wallpaper.png);
    height: 500px;
    font-size: 1rem;
    padding-top: 150px;
    color: white;

    p{
        font-size: 7rem;
    }
}

.resume-about>h2
{
    padding-top: 15px;
}

.resume-about>p
{
    text-align: center;
}



.resume-project__num1
{
    height: 70vh;
    width: 80vh;
}

.resume-project__num2
{
    height: 45vh;
    width: 90vh;
}

.desktop 
{
    display: initial;
}


.resume-contact__pdf
{
    height: 2.2rem;
    width: 2.2rem;
    padding-right: 10px;
}

.mobile_tab
{
    display: none;
}

.background-container
{
    background-image: url(../img/background.jpg);
    background-size: 1908px;
}

}